body{
    margin: 0 auto;
    padding: 0 auto;
    border: 0 auto;
    font-size: 100%;

}
.container{
    background-color: #C2F970;
    margin-top: 2%;
    height:50%;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    margin:0 auto;
    font-size: 20px;
    }

#container{
    background-color: #98A6D4;
    height:50%;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    margin:0 auto;
    font-size:20px ;
}

div{
    background-color:#564D80;
    height:150px;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
}
p{color: white;
}
.container h1{
    font-size: 50px;
    color: #44344f;
}